body {
  font-family: sans-serif;
  /* margin: auto; */
  /* max-width: 1280px; */
  /* max-width: 1280px; */
  /* max-width: 800px; */
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  /* max-width: 800px; */
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

#button {
  background-color: #328F00;
  /* width: 100px; */
  margin: 10px;
  text-align: center;
  line-height: 110px;
  font-size: 30px;
  user-select: none;
  color: white;
  font-weight: 500;
}

#top-row > div {
  background-color: #00308f;
  color: whitesmoke;
}

.flex-container {
  width: 100%;
  display: flex;
  /* flex-flow: row wrap; */
  background-color: #00308f;
  justify-content: center;
  /* width: 800px; */

}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  font-family: StratumBold,Arial,sans-serif;
  user-select: none;
  transition: .5s opacity;
}
